<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Fetch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="shortcut icon" href="static/asserts/just-logo.jpg" type="image/x-icon">
</head>
<body>
    <div><img src="static/asserts/IMG_20240709_134249.jpg" alt="Logo" class="logo"></div>
    
    <div id="main-heading">
        <h1>MEDIA FETCH</h1>
    </div>

    <div class="container">
        <h2>Download Video/Audio</h2>
        <form method="POST">
            <label class="url" for="url">URL:</label>
            <input type="text" id="url" name="url" required>
            
            <div>
                <label><input type="radio" name="media_type" value="video" checked> Video</label>
                <label><input type="radio" name="media_type" value="audio"> Audio</label>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

