<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Search Results</h2>
        <form id="downloadForm" action="/handle_button" method="POST">
            <input type="hidden" id="videoId" name="video_id">
            <ul>
                {% for video in videos %}
                    <li>
                        <span>{{ video.title }}</span>
                        <button type="button" value="{{ video.video_id }}" onclick="setVideoIdAndSubmit(this)">Download</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </div>

    <script>
        function setVideoIdAndSubmit(button) {
            document.getElementById("videoId").value = button.value;

            document.getElementById("downloadForm").submit();
        }
    </script>
</body>
</html>
