<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Format</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <link rel="shortcut icon" href="static/asserts/just-logo.jpg" type="image/x-icon">
</head>
<body>
    <div><img src="static/asserts/IMG_20240709_134249.jpg" alt="Logo" class="logo"></div>

    <div class="container">
        <h1>Select Format</h1>
        <form method="POST">
            <label for="format_id">Choose {{ media_type.capitalize() }} Format:</label>
            <select name="format_id" id="format_id">
                {% if formats %}
                    {% for format in formats %}
                    <option value="{{ format.format_id }}">
                        {{ format.ext }} - {{ format.resolution if media_type == 'video' else format.acodec }} - {{ format.fps if media_type == 'video' else format.abr }} - {{ format.vcodec if media_type == 'video' else format.acodec }}
                        {% if format.filesize %}
                            ({{ '%.2f' | format(format.filesize / (1024 * 1024)) }} MB)
                        {% elif format.filesize_approx %}
                            (Approx. {{ '%.2f' | format(format.filesize_approx / (1024 * 1024)) }} MB)
                        {% endif %}
                    </option>
                    {% endfor %}
                {% else %}
                    <option disabled>No formats available</option>
                {% endif %}
            </select>
            <button type="submit">Download {{ media_type.capitalize() }}</button>
        </form>
    </div>
</body>
</html>
